@model GuardianesAgua3d.Models.Player

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Juego 3D con Three.js</title>
    <link rel="stylesheet" href="@Url.Content("~/Source/css/estilosBase.css")" />
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #game-container {
            width: 100vw;
            height: 100vh;
            display: block;
        }
    </style>
</head>
<body>

    <div id="game-container"></div>

    <script type="importmap">
        {
            "imports": {
                "three": "/Source/js/three.module.js",
                "three/examples/jsm/controls/OrbitControls.js": "/Source/js/OrbitControls.js"
            }
        }
    </script>

    <script type="module" src="@Url.Content("~/Source/js/app.js")"></script>


</body>
</html>
